@import '../../stylesheets/_variables.scss';

.app {
  font-family: $font-main;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
  .wrapper {
    margin: 25px;
  }

  .header {
    text-align: center;
  }

  .footer {
    text-align: center;
  }

}
// @media all and (min-width: 768px){
//  .main__wrapper {
//   display: flex;
//   justify-content: space-between;
//  }
// }