@import '../../stylesheets/variables';

.calendar {
  min-height: 300px;

  .add__button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: $color-indigo;
    text-align: center;
    font-size: $font-m;

    @media all and (min-width: 768px){
      font-size: $font-xl;
    }
  }
  .add__button a {
    color: $color-white;
    text-decoration: none;
  }
}
