@import '../../stylesheets/variables';

.calendar {
  min-height: 300px;

  .add__button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: $color-indigo;
    text-align: center;
    color: $color-white;
    font-size: $font-m;
  }
}

@media all and (min-width: 768px){
  .calendar {
    margin-left: 50px;
    flex-grow: 1;
  }
}