$color-orange: #FF4500;
$color-yellow: #FFD700;
$color-indigo: #4B0082;
$color-grey: #696969;
$color-black: black;
$color-white: white;

$font-main: 'Josefin Sans', sans-serif;

$font-xs: 12px;
$font-s: 16px;
$font-m: 24px;
$font-l: 30px;
$font-xl: 40px;